beautifulsoup4==4.10.0
black==21.12b0
cached-property==1.5.2
click==8.0.3
commonmark==0.9.1
dictdiffer==0.9.0
ipywidgets==7.6.5
isort==5.10.1
jupyterlab==3.2.5
Pygments==2.10.0
python-slugify==5.0.2
ratelimit==2.2.1
requests==2.26.0
toml==0.10.2
tzlocal==4.1
